@import "../../css/theme.less";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(256, 256, 256, 0.92);
  box-shadow: 0px 1px 4px 0px @color-lighter-2;
  padding: 0 20px;
  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: @color-primary;
      margin: 25px 0px;
      font-size: 22px;
      &.active {
        color: @color-darker-1;
      }
      &:hover {
        color: @color-darker-1;
      }
    }

    .item {
      margin: 0 20px;
    }

    .item.left {
      width: 30%;
      text-align: right;
    }

    .item.right {
      width: 30%;
    }

    .item.center {
      .logo {
        width: 56px;
        height: 56px;
        background: no-repeat;
        background-size: contain;
      }
    }
  }
}
