header {
  vertical-align: middle;
  .logo {
    margin: 0;
    display: inline-block;
  }
  nav {
    display: inline-block;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin: 0.3rem;
      }
    }
  }
}