@color-primary: #FEC22E;
@color-primary-1: #FFDA7E;
@color-primary-2: #FFCE54;
@color-primary-3: #E1A206;
@color-primary-4: #AF7D00;

@color-text: #000;
@color-text-1: #9F9993;

@neon-carrot: #FF9740;
@atlantis: #A4CF27;
@shakespeare: #4FC5D1;
@deluge: #7864AC;
