html {
  height: 100%;
}

.side-image {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.divider {
  height: 1px;
  width: 100%;
  background: #E9EAEA;
  &.divider-vertical {
    width: 1px;
    height: 100%;
  }
}
