@import "../css/theme.less";

.side-image {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  width: 35%;
  background: no-repeat center;
  background-size: cover;
}

.bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  i {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
    &.icon-location {
      background-image: url(../images/location.png);
    }
    &.icon-dance {
      background-image: url(../images/phone-dance.png);
    }
    &.icon-computer {
      background-image: url(../images/computer.png);
    }
    &.icon-code {
      background-image: url(../images/code.png);
    }
    &.icon-girl {
      background-image: url(../images/girl.png);
    }
  }
  img {
    width: 70%;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: @color-lighter-2;
  &.divider-vertical {
    width: 1px;
    height: 100%;
  }
}

.latest-articles {
  margin-top: 60px;
}
